snippet ompf
	#pragma omp parallel for
	for (${2:int} ${3:i} = 0; $3 < ${1:count}; $3${4:++}) {
		${5}
	}

snippet ompfi
	#pragma omp parallel for
	for (int ${3:i} = 0; $3 < ${2:count}; $3${4:++}) {
		${5}
	}

snippet ompfn
	#pragma omp parallel for num_threads(${1})
	for (${3:int} ${4:i} = 0; $4 < ${2:count}; $4${5:++}) {
		${6}
	}

snippet ompfin
	#pragma omp parallel for num_threads(${1})
	for (int ${3:i} = 0; $3 < ${2:count}; $3${4:++}) {
		${5}
	}
